@charset "UTF-8";

/*  ※  도쿄 올림픽 Area STRAT  ※  */
.olp_wrap {width: 100%; margin: 0 auto; background: #FFF; padding-bottom: 35px;}
.olp_wrap .w_1218 {width: 1218px; margin: 0 auto;}
.olp_wrap p, .olp_wrap span {letter-spacing: -0.075em;}
.bg_f5f5f5 {background: #f5f5f5;}
.bg_ffffff {background: #fff;}

/*  -  중계 일정  -  */
.olp_vod {width: 1220px; margin: 0 auto; padding: 50px 0 80px; position: relative;}
.olp_vod .olp_scd {width: 1020px; margin: 0 auto; position: relative;}
.olp_vod .olp_scd .olsc_tab {width: 370px; margin: 0 auto;}
.olp_vod .olp_scd .olsc_tab ul {overflow: hidden;}
.olp_vod .olp_scd .olsc_tab ul li {float: left; font-size: 20px; line-height: 48px; margin-left: 24px; cursor: pointer;}
.olp_vod .olp_scd .olsc_tab ul li.c_0195d7 {color: #0195d7; font-family: 'notokr-bold'; line-height: 46px;}
.olp_vod .olp_scd .olsc_tab ul li:hover {color: #0195d7; font-family: 'notokr-bold'; line-height: 46px;}
.olp_vod .olp_scd .olsc_tab ul li:first-child {margin-left: 0;}
.olp_vod .olp_slk {display: inline-block; width: 300px; position: absolute; bottom: 20px; left: 50%; margin-left: -150px;}
.olp_vod .olp_slk a {font-size: 18px; line-height: 48px; color: #0195d7; margin-left: 25px; padding-left: 25px; background: url('https://img.imbc.com/broad/tv/sports/images/olp_slk_bdl.jpg') 0 6px no-repeat;}
.olp_vod .olp_slk a:first-child {margin-left: 0; padding-left: 0; background: none;}
.olp_vod .olp_scd .olsc_arrw {width: 20px; height: 40px; position: absolute; top: 170px; font-size: 1px; color: rgba(0, 0, 0, 0);}
.olp_vod .olp_scd .olsc_prev {background: url("https://img.imbc.com/broad/tv/sports/images/olp_olsc_arrw.png") 0 0 no-repeat; left: -80px;}
.olp_vod .olp_scd .olsc_next {background: url(https://img.imbc.com/broad/tv/sports/images/olp_olsc_arrw.png) -30px 0 no-repeat; right: -80px;}
.olp_vod .olp_scd .olsc_lst {width: 100%; height: 300px; overflow: hidden; margin: 30px 0;}
.olp_vod .olp_scd .olsc_lst ul {overflow: hidden;}
.olp_vod .olp_scd .olsc_lst ul li {width: 330px; height: 300px; float: left; padding: 0 30px; border-right: 1px solid #dddddd; box-sizing: border-box;}
.olp_vod .olp_scd .olsc_lst ul li:last-child {border: none;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_wrap {}
.olp_vod .olp_scd .olsc_lst ul li:first-child .olsc_wrap {border: none;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx {width: 100%; font-size: 16px; color: #243323; text-align: center;}
.olp_vod .olp_scd .olsc_lst ul li:first-child .olsc_bx {margin-left: 0;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_ttl {color: #FFF; height: 40px; line-height: 40px; font-family: 'notokr-bold'; background: url("https://img.imbc.com/broad/tv/sports/images/olp_os_ttl_bg.png") no-repeat; background-size: cover; background-position: right;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_ttl .c_fff100 {color: #fff100; line-height: 40px;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_date {font-size: 18px; font-weight: bold; color: #243323; display: block; margin-top: 15px;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_itr {font-size: 16px; height: 140px; line-height: 1.8em; overflow: hidden; display: block; margin: 22px 0px; text-align: left;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_lk {font-size: 16px; display: block; width: 200px; margin: 0 auto; height: 40px; line-height: 40px; background: #FFF url("https://img.imbc.com/broad/tv/sports/images/olp_os_lk_arr.png") 175px 14px no-repeat; border: 1px solid #dddd; color: #7d7d7d; margin-top: 8px;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .os_lk.c_7d7d7d {background: #FFF;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .c_018ed3 {color: #018ed3; position: relative;}
.olp_vod .olp_scd .olsc_lst ul li .olsc_bx .c_018ed3:after {content: ''; display: block; width: 6px; height: 6px; background: #ff0000; border-radius: 50%; background-size: 6px; position: absolute; top: 13px; right: 68px; animation: ani 1.1s ease infinite alternate;}

/*  -  메달 스코어  -  */
.mdsc_wrap {padding-top: 40px;}
.mdsc_bx {background: #FFF url("https://img.imbc.com/broad/tv/sports/images/olp_mdsc_bx_bg_v2.jpg") no-repeat; background-size: cover; background-position: left; position: relative;}
.mdsc_bx .md_lst {width: 375px; margin: 0 auto;}
.mdsc_bx .md_lst ul {overflow: hidden;}
.mdsc_bx .md_lst ul li {width: 125px; height: 60px; float: left; color: #FFF;}
.mdsc_bx .md_lst ul li>span {display: inline-block; line-height: 60px; text-align: center;}
.mdsc_bx .md_lst ul li .md_img {font-size: 13px; width: 35px; height: 50px; background: url("https://img.imbc.com/broad/tv/sports/images/olp_md_img.png") 0 -1px no-repeat;}
.mdsc_bx .md_lst ul li .md_cnt {font-size: 36px; width: 65px; font-family: 'notokr-bold'; font-style: italic;}
.mdsc_bx .md_rnk {position: absolute; top: 20px; right: 50px; color: #FFF; overflow: hidden;}
.mdsc_bx .md_rnk p {display: inline-block; float: left;}
.mdsc_bx .md_rnk .mdrk_ko {font-size: 24px; font-family: 'notokr-bold';}
.mdsc_bx .md_rnk .md_date {font-size: 14px; display: inline-block; padding-top: 8px; margin-left: 5px;}

/*  -  경기 목록  -  */
.olp_tab_bx {width: 1030px; position: relative; margin: 0 auto;}
.olp_tab_bx .ot_arrw {display: inline-block; width: 10px; height: 20px; font-size: 1px; color: rgba(0, 0, 0, 0); position: absolute; top: 54px;}
.olp_tab_bx .ot_prev {background: url("https://img.imbc.com/broad/tv/sports/images/olp_ot_arrw.png") 0 0 no-repeat; left: -30px;}
.olp_tab_bx .ot_next {background: url("https://img.imbc.com/broad/tv/sports/images/olp_ot_arrw.png") -15px 0 no-repeat; right: -30px;}
.olp_tab_bx .olp_tab {width: 100%; margin: 0 auto;}
.olp_tab_bx .olp_tab ul {overflow: hidden;}
.olp_tab_bx .olp_tab ul li {line-height: 80px; text-align: center; float: left; font-size: 20px; color: #000;}
.olp_tab_bx .olp_tab ul li button {color: #000; vertical-align: middle; width: 100%; line-height: 82px;}
.olp_tab_bx .olp_tab ul li:hover {border-bottom: 2px solid #0195d7;}
.olp_tab_bx .olp_tab ul li:hover button {font-family: 'notokr-bold'; color: #0195d7;}
.olp_tab_bx .olp_tab .slick-slide {margin: 0 10px;}
.olp_tab_bx .olp_tab ul li.current1 {border-bottom: 2px solid #0195d7;}
.olp_tab_bx .olp_tab ul li.current1 button {font-family: 'notokr-bold'; color: #0195d7;}
.olp_hstg {width: 1218px; margin: 0 auto; border-top: 1px solid #eeeeee; text-align: center;}
.olp_hstg a {font-size: 22px; color: #0196d8; margin-left: 40px; display: inline-block; padding-top: 20px; padding-bottom: 20px;}
.olp_hstg a:first-child {margin-left: 0;}